<section>
  <div class="page-header">
    <h1>图书</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="book in vm.books" ui-sref="books.view({ bookId: book._id })" class="list-group-item">
      <small class="list-group-item-text">
        发表时间：
        <span ng-bind="book.created | date:'mediumDate'"></span>
        发表人：
        <span ng-if="book.user" ng-bind="book.user.displayName"></span>
        <span ng-if="!book.user">删除用户</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="book.title"></h4>
      <p class="list-group-item-text" ng-bind="book.content"></p>
    </a>
  </div>
</section>
