<section>
  <div class="page-header">
    <h1 ng-bind="vm.book.title"></h1>
  </div>
  <small>
    <em class="text-muted">
      发表时间：
      <span ng-bind="vm.book.created | date:'mediumDate'"></span>
      发表人：
      <span ng-if="vm.book.user" ng-bind="vm.book.user.displayName"></span>
      <span ng-if="!vm.book.user">删除用户</span>
    </em>
  </small>
  <div>
    标题：<h4 class="list-group-item-heading" data-ng-bind="vm.book.title"></h4>
    作者：<h4 class="list-group-item-heading" data-ng-bind="vm.book.author"></h4>
    书号：<h4 class="list-group-item-heading" data-ng-bind="vm.book.isbn"></h4>
    出版日期：<h4 class="list-group-item-heading" data-ng-bind="vm.book.publishDate"></h4>
    类型：<h4 class="list-group-item-heading" data-ng-bind="vm.book.type"></h4>
    简介：<p class="list-group-item-text" data-ng-bind="vm.book.description"></p>
    </div>
</section>
