<section>
  <div class="page-header">
    <h1>
      图书
      <a class="btn btn-primary pull-right" data-ui-sref="admin.books.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="book in vm.books" data-ui-sref="admin.books.edit({bookId: book._id})" class="list-group-item">
      <small class="list-group-item-text">
        发表时间：
        <span data-ng-bind="book.created | date:'mediumDate'"></span>
        发表人：
        <span ng-if="book.user" ng-bind="book.user.displayName"></span>
        <span ng-if="!book.user">删除用户</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="book.title"></h4>
      <p class="list-group-item-text" data-ng-bind="book.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.books.$resolved && !vm.books.length">
    没有图书，你为什么不 <a data-ui-sref="admin.books.create">创建一个</a>?
  </div>
</section>
