<div>
  <h3 class="col-xs-12 text-center">请使用你的电子邮件注册</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">姓氏</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.credentials.firstName" placeholder="姓氏" required autofocus>
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请正确填写姓氏</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">名字</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.credentials.lastName" placeholder="名字" required>
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请正确输入名字</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">电子邮件</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email" placeholder="电子邮件" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请输入电子邮箱地址</p>
            <p class="help-block error-text" ng-message="email">该电子邮箱地址无效</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">用户名</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" ng-pattern="vm.usernameRegex" placeholder="请输入用户名" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请输入用户名</p>
            <p class="help-block error-text" ng-message="pattern">请输入有效的用户名：长度3个字符以上，不限制单词，不能使用“_ -”不能使用字母A-Z</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">密码</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="密码" uib-popover="{{vm.getPopoverMsg()}}" popover-trigger="outsideClick" password-validator required>
          <div ng-messages="vm.userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请输入正确密码</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="vm.userForm.password.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="!vm.userForm.password.$error.required">
          <label>密码要求</label>
          <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">注册</button>
          &nbsp; or&nbsp;
          <a ui-sref="authentication.signin" class="show-signup">登陆</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
